@import "tailwindcss";


h1 {
  font-size: 24px;
  font-weight: bold;
}

button {
  border: 1px solid #000;
  cursor: pointer;
}

input {
  border: 1px solid #000;
}

.bg-svg-react {
  background: url("assets/images/react.svg") no-repeat;
  width: 100px;
  height: 100px;
}